* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cvImage: url("../resources/CV-Image.webp");
    --border: 2px solid rgba(128, 128, 128, 0.289);
    --textColorDark: rgb(59, 59, 59);
    --textColorLight: rgb(181, 181, 181);
    --textColorH1: rgb(255, 255, 255);
    --textColorH2: rgb(255, 255, 255);
    --textColorH3:  rgb(73, 72, 72);
    --textColorH4: rgb(212, 212, 212);

    --textParagraph: clamp(0.6rem, 0.563rem + 0.1975vw, 0.8rem);
    --textSpan: 0.6rem;

    --textH3: clamp(0.8rem, 0.7259rem + 0.3951vw, 1.2rem);
    --textH4: clamp(0.6rem, 0.5259rem + 0.3951vw, 1rem);

    --colorText: rgb(73, 72, 72);
    --backColorH4: rgb(44, 44, 44);
    --backColorDarkTransparent: rgba(0, 0, 0, 0.859);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        width: 100vw;
        height: calc((1px + .02vw)*160);
        background-color: rgb(44, 44, 44);
        box-shadow: 0 0 20px rgb(44, 44, 44);

        nav {
            width: 100vw;
            height: 35px;
            background-color: rgb(24, 24, 24);
            box-shadow: 0 0 5px 3px rgb(142, 142, 142);
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 1;

            span {
                display: flex;
                width: 1100px;
                height: 100%;
                padding: 4px;

                div {
                    width: calc(100% / 6);
                    height: 100%;
                    font-size: var(--textParagraph);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(127, 135, 152, 0);
                    color: var(--textColorLight);
                    user-select: none;
                    border: 5px transparent;
                    transition: 3.5s;

                    &:hover {
                        color: rgb(43, 45, 61);
                        background-color: rgb(255, 255, 255);
                        transition: 1s;
                    }
                }
            }
        }

        .titles {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 30px;

            h1 {
                color: var(--textColorH1);
                margin-top: 10px;
                font-size: clamp(0.8rem, 0.5037rem + 1.5802vw, 2.4rem);
                font-size: clamp(1.2rem, 0.9778rem + 1.1852vw, 2.4rem);
                text-shadow: 2px 8px 3px rgb(0, 0, 0);
            }

            h2 {
                color: var(--textColorH2);
                font-size: clamp(0.6rem, 0.3778rem + 1.1852vw, 1.8rem);
                text-shadow: 2px 8px 3px rgb(0, 0, 0);
                margin-bottom: 4px;

            }

            div {
                width: 160px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 8px solid rgb(44, 44, 44);
                box-shadow: 0 0 10px rgb(44, 44, 44);
                display: flex;
                align-items: center;
                justify-content: center;


                .cv_image {
                    width: 150px;
                    aspect-ratio: 1/1;
                    border: 4px solid rgb(255, 255, 255);
                    border-radius: 50%;
                    background-image: var(--cvImage);
                    background-size: cover;
                }
            }
        }
    }

    section {
        width: 80%;
        border: var(--border);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 3%;

            h3 {
                width: 100%;
                text-align: center;
                color: var(--textColorH3);
                margin-bottom: 2rem;
            }

            p {
                font-size: var(--textParagraph);
                color: var(--colorText);

            }

            ul {
                width: 100%;
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;

                li {

                    div {

                        width: 30%;
                        margin-bottom: 60px;
                        /* border: var(--border); */
                        box-shadow: 0 6px 10px 0 rgb(17, 17, 17);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                       

                        img {
                            width: 100%;
                            margin-bottom: -5px;
                            border: var(--border);
                        }


                        h4 {
                            margin-top: 4px;
                            padding: 10px;
                            width: 100%;
                            font-size: var(--textH4);
                            color: var(--textColorH4);
                            background-color:rgb(18, 27, 25);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;

                        }

                        p {
                            margin: -4px 0 0 0;
                            border: var(--border);
                            background-color: rgb(255, 255, 255);
                            border-radius: 0 0 4px 4px;
                            padding: 10px;
                            font-size: var(--textParagraph);
                        }
                    }
                }
            }
        }
    }

    .about {
        margin-top: 100px;
    }

    .experience {}
}